@charset "UTF-8";
/*!
    Theme Name: Starter for Genesis
    Description: This is a starter child theme created for the Genesis Framework.
    Author: SuperFastBusiness
    Author URI: http://www.superfastbusiness.com/
    Version: 1.0.7
    Tags: responsive-layout, white, blue, one-column, two-columns, three-columns, fixed-width, theme-options
    Template: genesis
    Template Version: 2.0
    License: GPL-2.0+
    License URI: http://www.opensource.org/licenses/gpl-license.php
    Bitbucket Theme URI: https://bitbucket.org/webdevsuperfast/starter-for-genesis
*/
/* total with of page */
/* number of columns */
/* @function em($px, $base: $base-font-size) { @return ($px / $base) * 1em;
} */
.search-form input[type="submit"] { border: 0; clip: rect(0, 0, 0, 0); height: 1px; margin: -1px; padding: 0; position: absolute; width: 1px; }

/* math magic */
/* create row div */
/* create a column div */
/* make an element span n columns */
/* the last column in a row needs this */
/* prepend n blank columns  */
/* append n blank columns */
@font-face { font-family: "octicons"; src: url('assets/fonts/octicons/octicons.eot?1433209744'); src: url('assets/fonts/octicons/octicons.eot?&1433209744#iefix') format('embedded-opentype'), url('assets/fonts/octicons/octicons.ttf?1433209744') format('truetype'), url('assets/fonts/octicons/octicons.svg?1433209744') format('svg'), url('assets/fonts/octicons/octicons.woff?1433209744') format('woff'); }
.octicon, blockquote p:first-of-type:before, .widget_mb_testimonial .owl-buttons div.owl-prev, .widget_mb_testimonial .owl-buttons div.owl-next, button.sub-menu-toggle:before, button.sub-menu-toggle.activated:before, button.menu-toggle:before, button.menu-toggle.activated:before, .mega-octicon, blockquote p:first-of-type:before { font: normal normal normal 16px/1 octicons; display: inline-block; text-decoration: none; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.mega-octicon, blockquote p:first-of-type:before { font-size: 32px; }

.octicon-alert:before { content: '\f02d'; }

/* ∩Ç¡ */
.octicon-alignment-align:before { content: '\f08a'; }

/* ∩éè */
.octicon-alignment-aligned-to:before { content: '\f08e'; }

/* ∩éÄ */
.octicon-alignment-unalign:before { content: '\f08b'; }

/* ∩éï */
.octicon-arrow-down:before { content: '\f03f'; }

/* ∩Ç┐ */
.octicon-arrow-left:before { content: '\f040'; }

/* ∩üÇ */
.octicon-arrow-right:before { content: '\f03e'; }

/* ∩Ç╛ */
.octicon-arrow-small-down:before { content: '\f0a0'; }

/* ∩éá */
.octicon-arrow-small-left:before { content: '\f0a1'; }

/* ∩éí */
.octicon-arrow-small-right:before { content: '\f071'; }

/* ∩ü▒ */
.octicon-arrow-small-up:before { content: '\f09f'; }

/* ∩éƒ */
.octicon-arrow-up:before { content: '\f03d'; }

/* ∩Ç╜ */
.octicon-beer:before { content: '\f069'; }

/* ∩ü⌐ */
.octicon-book:before { content: '\f007'; }

/* ∩Çç */
.octicon-bookmark:before { content: '\f07b'; }

/* ∩ü╗ */
.octicon-briefcase:before { content: '\f0d3'; }

/* ∩âô */
.octicon-broadcast:before { content: '\f048'; }

/* ∩üê */
.octicon-browser:before { content: '\f0c5'; }

/* ∩âà */
.octicon-bug:before { content: '\f091'; }

/* ∩éæ */
.octicon-calendar:before { content: '\f068'; }

/* ∩ü¿ */
.octicon-check:before { content: '\f03a'; }

/* ∩Ç║ */
.octicon-checklist:before { content: '\f076'; }

/* ∩ü╢ */
.octicon-chevron-down:before { content: '\f0a3'; }

/* ∩éú */
.octicon-chevron-left:before, .widget_mb_testimonial .owl-buttons div.owl-prev:before { content: '\f0a4'; }

/* ∩éñ */
.octicon-chevron-right:before, .widget_mb_testimonial .owl-buttons div.owl-next:before { content: '\f078'; }

/* ∩ü╕ */
.octicon-chevron-up:before { content: '\f0a2'; }

/* ∩éó */
.octicon-circle-slash:before { content: '\f084'; }

/* ∩éä */
.octicon-circuit-board:before { content: '\f0d6'; }

/* ∩âû */
.octicon-clippy:before { content: '\f035'; }

/* ∩Ç╡ */
.octicon-clock:before { content: '\f046'; }

/* ∩üå */
.octicon-cloud-download:before { content: '\f00b'; }

/* ∩Çï */
.octicon-cloud-upload:before { content: '\f00c'; }

/* ∩Çî */
.octicon-code:before { content: '\f05f'; }

/* ∩üƒ */
.octicon-color-mode:before { content: '\f065'; }

/* ∩üÑ */
.octicon-comment-add:before, .octicon-comment:before { content: '\f02b'; }

/* ∩Ç½ */
.octicon-comment-discussion:before { content: '\f04f'; }

/* ∩üÅ */
.octicon-credit-card:before { content: '\f045'; }

/* ∩üà */
.octicon-dash:before { content: '\f0ca'; }

/* ∩âè */
.octicon-dashboard:before { content: '\f07d'; }

/* ∩ü╜ */
.octicon-database:before { content: '\f096'; }

/* ∩éû */
.octicon-device-camera:before { content: '\f056'; }

/* ∩üû */
.octicon-device-camera-video:before { content: '\f057'; }

/* ∩üù */
.octicon-device-desktop:before { content: '\f27c'; }

/* ∩ë╝ */
.octicon-device-mobile:before { content: '\f038'; }

/* ∩Ç╕ */
.octicon-diff:before { content: '\f04d'; }

/* ∩üì */
.octicon-diff-added:before { content: '\f06b'; }

/* ∩ü½ */
.octicon-diff-ignored:before { content: '\f099'; }

/* ∩éÖ */
.octicon-diff-modified:before { content: '\f06d'; }

/* ∩ü¡ */
.octicon-diff-removed:before { content: '\f06c'; }

/* ∩ü¼ */
.octicon-diff-renamed:before { content: '\f06e'; }

/* ∩ü« */
.octicon-ellipsis:before { content: '\f09a'; }

/* ∩éÜ */
.octicon-eye-unwatch:before, .octicon-eye-watch:before, .octicon-eye:before { content: '\f04e'; }

/* ∩üÄ */
.octicon-file-binary:before { content: '\f094'; }

/* ∩éö */
.octicon-file-code:before { content: '\f010'; }

/* ∩ÇÉ */
.octicon-file-directory:before { content: '\f016'; }

/* ∩Çû */
.octicon-file-media:before { content: '\f012'; }

/* ∩ÇÆ */
.octicon-file-pdf:before { content: '\f014'; }

/* ∩Çö */
.octicon-file-submodule:before { content: '\f017'; }

/* ∩Çù */
.octicon-file-symlink-directory:before { content: '\f0b1'; }

/* ∩é▒ */
.octicon-file-symlink-file:before { content: '\f0b0'; }

/* ∩é░ */
.octicon-file-text:before { content: '\f011'; }

/* ∩Çæ */
.octicon-file-zip:before { content: '\f013'; }

/* ∩Çô */
.octicon-flame:before { content: '\f0d2'; }

/* ∩âÆ */
.octicon-fold:before { content: '\f0cc'; }

/* ∩âî */
.octicon-gear:before { content: '\f02f'; }

/* ∩Ç» */
.octicon-gift:before { content: '\f042'; }

/* ∩üé */
.octicon-gist:before { content: '\f00e'; }

/* ∩ÇÄ */
.octicon-gist-secret:before { content: '\f08c'; }

/* ∩éî */
.octicon-git-branch-create:before, .octicon-git-branch-delete:before, .octicon-git-branch:before { content: '\f020'; }

/* ∩Çá */
.octicon-git-commit:before { content: '\f01f'; }

/* ∩Çƒ */
.octicon-git-compare:before { content: '\f0ac'; }

/* ∩é¼ */
.octicon-git-merge:before { content: '\f023'; }

/* ∩Çú */
.octicon-git-pull-request-abandoned:before, .octicon-git-pull-request:before { content: '\f009'; }

/* ∩Çë */
.octicon-globe:before { content: '\f0b6'; }

/* ∩é╢ */
.octicon-graph:before { content: '\f043'; }

/* ∩üâ */
.octicon-heart:before { content: '\2665'; }

/* ΓÖÑ */
.octicon-history:before { content: '\f07e'; }

/* ∩ü╛ */
.octicon-home:before { content: '\f08d'; }

/* ∩éì */
.octicon-horizontal-rule:before { content: '\f070'; }

/* ∩ü░ */
.octicon-hourglass:before { content: '\f09e'; }

/* ∩é₧ */
.octicon-hubot:before { content: '\f09d'; }

/* ∩é¥ */
.octicon-inbox:before { content: '\f0cf'; }

/* ∩âÅ */
.octicon-info:before { content: '\f059'; }

/* ∩üÖ */
.octicon-issue-closed:before { content: '\f028'; }

/* ∩Ç¿ */
.octicon-issue-opened:before { content: '\f026'; }

/* ∩Çª */
.octicon-issue-reopened:before { content: '\f027'; }

/* ∩Çº */
.octicon-jersey:before { content: '\f019'; }

/* ∩ÇÖ */
.octicon-jump-down:before { content: '\f072'; }

/* ∩ü▓ */
.octicon-jump-left:before { content: '\f0a5'; }

/* ∩éÑ */
.octicon-jump-right:before { content: '\f0a6'; }

/* ∩éª */
.octicon-jump-up:before { content: '\f073'; }

/* ∩ü│ */
.octicon-key:before { content: '\f049'; }

/* ∩üë */
.octicon-keyboard:before { content: '\f00d'; }

/* ∩Çì */
.octicon-law:before { content: '\f0d8'; }

/* ∩âÿ */
.octicon-light-bulb:before { content: '\f000'; }

/* ∩ÇÇ */
.octicon-link:before { content: '\f05c'; }

/* ∩ü£ */
.octicon-link-external:before { content: '\f07f'; }

/* ∩ü┐ */
.octicon-list-ordered:before { content: '\f062'; }

/* ∩üó */
.octicon-list-unordered:before { content: '\f061'; }

/* ∩üí */
.octicon-location:before { content: '\f060'; }

/* ∩üá */
.octicon-gist-private:before, .octicon-mirror-private:before, .octicon-git-fork-private:before, .octicon-lock:before { content: '\f06a'; }

/* ∩ü¬ */
.octicon-logo-github:before { content: '\f092'; }

/* ∩éÆ */
.octicon-mail:before { content: '\f03b'; }

/* ∩Ç╗ */
.octicon-mail-read:before { content: '\f03c'; }

/* ∩Ç╝ */
.octicon-mail-reply:before { content: '\f051'; }

/* ∩üæ */
.octicon-mark-github:before { content: '\f00a'; }

/* ∩Çè */
.octicon-markdown:before { content: '\f0c9'; }

/* ∩âë */
.octicon-megaphone:before { content: '\f077'; }

/* ∩ü╖ */
.octicon-mention:before { content: '\f0be'; }

/* ∩é╛ */
.octicon-microscope:before { content: '\f089'; }

/* ∩éë */
.octicon-milestone:before { content: '\f075'; }

/* ∩ü╡ */
.octicon-mirror-public:before, .octicon-mirror:before { content: '\f024'; }

/* ∩Çñ */
.octicon-mortar-board:before { content: '\f0d7'; }

/* ∩âù */
.octicon-move-down:before { content: '\f0a8'; }

/* ∩é¿ */
.octicon-move-left:before { content: '\f074'; }

/* ∩ü┤ */
.octicon-move-right:before { content: '\f0a9'; }

/* ∩é⌐ */
.octicon-move-up:before { content: '\f0a7'; }

/* ∩éº */
.octicon-mute:before { content: '\f080'; }

/* ∩éÇ */
.octicon-no-newline:before { content: '\f09c'; }

/* ∩é£ */
.octicon-octoface:before { content: '\f008'; }

/* ∩Çê */
.octicon-organization:before { content: '\f037'; }

/* ∩Ç╖ */
.octicon-package:before { content: '\f0c4'; }

/* ∩âä */
.octicon-paintcan:before { content: '\f0d1'; }

/* ∩âæ */
.octicon-pencil:before { content: '\f058'; }

/* ∩üÿ */
.octicon-person-add:before, .octicon-person-follow:before, .octicon-person:before { content: '\f018'; }

/* ∩Çÿ */
.octicon-pin:before { content: '\f041'; }

/* ∩üü */
.octicon-playback-fast-forward:before { content: '\f0bd'; }

/* ∩é╜ */
.octicon-playback-pause:before { content: '\f0bb'; }

/* ∩é╗ */
.octicon-playback-play:before { content: '\f0bf'; }

/* ∩é┐ */
.octicon-playback-rewind:before { content: '\f0bc'; }

/* ∩é╝ */
.octicon-plug:before { content: '\f0d4'; }

/* ∩âö */
.octicon-repo-create:before, .octicon-gist-new:before, .octicon-file-directory-create:before, .octicon-file-add:before, .octicon-plus:before { content: '\f05d'; }

/* ∩ü¥ */
.octicon-podium:before { content: '\f0af'; }

/* ∩é» */
.octicon-primitive-dot:before { content: '\f052'; }

/* ∩üÆ */
.octicon-primitive-square:before { content: '\f053'; }

/* ∩üô */
.octicon-pulse:before { content: '\f085'; }

/* ∩éà */
.octicon-puzzle:before { content: '\f0c0'; }

/* ∩âÇ */
.octicon-question:before { content: '\f02c'; }

/* ∩Ç¼ */
.octicon-quote:before, blockquote p:first-of-type:before { content: '\f063'; }

/* ∩üú */
.octicon-radio-tower:before { content: '\f030'; }

/* ∩Ç░ */
.octicon-repo-delete:before, .octicon-repo:before { content: '\f001'; }

/* ∩Çü */
.octicon-repo-clone:before { content: '\f04c'; }

/* ∩üî */
.octicon-repo-force-push:before { content: '\f04a'; }

/* ∩üè */
.octicon-gist-fork:before, .octicon-repo-forked:before { content: '\f002'; }

/* ∩Çé */
.octicon-repo-pull:before { content: '\f006'; }

/* ∩Çå */
.octicon-repo-push:before { content: '\f005'; }

/* ∩Çà */
.octicon-rocket:before { content: '\f033'; }

/* ∩Ç│ */
.octicon-rss:before { content: '\f034'; }

/* ∩Ç┤ */
.octicon-ruby:before { content: '\f047'; }

/* ∩üç */
.octicon-screen-full:before { content: '\f066'; }

/* ∩üª */
.octicon-screen-normal:before { content: '\f067'; }

/* ∩üº */
.octicon-search-save:before, .octicon-search:before { content: '\f02e'; }

/* ∩Ç« */
.octicon-server:before { content: '\f097'; }

/* ∩éù */
.octicon-settings:before { content: '\f07c'; }

/* ∩ü╝ */
.octicon-log-in:before, .octicon-sign-in:before { content: '\f036'; }

/* ∩Ç╢ */
.octicon-log-out:before, .octicon-sign-out:before { content: '\f032'; }

/* ∩Ç▓ */
.octicon-split:before { content: '\f0c6'; }

/* ∩âå */
.octicon-squirrel:before { content: '\f0b2'; }

/* ∩é▓ */
.octicon-star-add:before, .octicon-star-delete:before, .octicon-star:before { content: '\f02a'; }

/* ∩Ç¬ */
.octicon-steps:before { content: '\f0c7'; }

/* ∩âç */
.octicon-stop:before { content: '\f08f'; }

/* ∩éÅ */
.octicon-repo-sync:before, .octicon-sync:before { content: '\f087'; }

/* ∩éç */
.octicon-tag-remove:before, .octicon-tag-add:before, .octicon-tag:before { content: '\f015'; }

/* ∩Çò */
.octicon-telescope:before { content: '\f088'; }

/* ∩éê */
.octicon-terminal:before { content: '\f0c8'; }

/* ∩âê */
.octicon-three-bars:before, button.menu-toggle:before { content: '\f05e'; }

/* ∩ü₧ */
.octicon-thumbsdown:before { content: '\f0db'; }

/* ∩â¢ */
.octicon-thumbsup:before { content: '\f0da'; }

/* ∩âÜ */
.octicon-tools:before { content: '\f031'; }

/* ∩Ç▒ */
.octicon-trashcan:before { content: '\f0d0'; }

/* ∩âÉ */
.octicon-triangle-down:before, button.sub-menu-toggle:before { content: '\f05b'; }

/* ∩ü¢ */
.octicon-triangle-left:before { content: '\f044'; }

/* ∩üä */
.octicon-triangle-right:before { content: '\f05a'; }

/* ∩üÜ */
.octicon-triangle-up:before, button.sub-menu-toggle.activated:before { content: '\f0aa'; }

/* ∩é¬ */
.octicon-unfold:before { content: '\f039'; }

/* ∩Ç╣ */
.octicon-unmute:before { content: '\f0ba'; }

/* ∩é║ */
.octicon-versions:before { content: '\f064'; }

/* ∩üñ */
.octicon-remove-close:before, .octicon-x:before, button.menu-toggle.activated:before { content: '\f081'; }

/* ∩éü */
.octicon-zap:before { content: '\26A1'; }

/* ΓÜí */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
body { margin: 0; }

/* HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined for any HTML5 element in IE 8/9. Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox. Correct `block` display not defined for `main` in IE 11. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/** 1. Correct `inline-block` display not defined in IE 8/9. 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio, canvas, progress, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address `[hidden]` styling not present in IE 8/9/10. Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22. */
[hidden], template { display: none; }

/* Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a { background-color: transparent; }

/** Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }

/* Text-level semantics ========================================================================== */
/** Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, strong { font-weight: bold; }

/** Address styling not present in Safari and Chrome. */
dfn { font-style: italic; }

/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari, and Chrome. */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Address styling not present in IE 8/9. */
mark { background: #ff0; color: #000; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* Embedded content ========================================================================== */
/** Remove border when inside `a` element in IE 8/9/10. */
img { border: 0; }

/** Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** Address margin not present in IE 8/9 and Safari. */
figure { margin: 1em 40px; }

/** Address differences between Firefox and other browsers. */
hr { box-sizing: content-box; height: 0; }

/** Contain overflow in all browsers. */
pre { overflow: auto; }

/** Address odd `em`-unit font size rendering in all browsers. */
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

/* Forms ========================================================================== */
/** Known limitation: by default, Chrome and Safari on OS X allow very limited styling of `select`, unless a `border` property is set. */
/** 1. Correct color not being inherited. Known issue: affects color of disabled elements. 2. Correct font properties not being inherited. 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ }

/** Address `overflow` set to `hidden` in IE 8/9/10/11. */
button { overflow: visible; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera. Correct `select` style inheritance in Firefox. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

/** Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
input { line-height: normal; }

/** It's recommended that you don't attempt to style these elements. Firefox's implementation doesn't respect box-sizing, padding, or width.  1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`. */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Address `appearance` set to `searchfield` in Safari and Chrome. 2. Address `box-sizing` set to `border-box` in Safari and Chrome (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ /* 2 */ box-sizing: content-box; }

/** Remove inner padding and search cancel button in Safari and Chrome on OS X. Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance). */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct `color` not being inherited in IE 8/9/10/11. 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/** Remove default vertical scrollbar in IE 8/9/10/11. */
textarea { overflow: auto; }

/** Don't inherit the `font-weight` (applied by a rule above). NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup { font-weight: bold; }

/* Tables ========================================================================== */
/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

/** Clearing Floats
----------------------------------------------------------------------------- */
.archive-pagination, .clearfix, .entry-pagination, .footer-widgets, .nav-primary, .nav-secondary, .site-container, .site-footer, .site-header, .site-inner, .wrap { *zoom: 1; }
.archive-pagination:before, .archive-pagination:after, .clearfix:before, .clearfix:after, .entry-pagination:before, .entry-pagination:after, .footer-widgets:before, .footer-widgets:after, .nav-primary:before, .nav-primary:after, .nav-secondary:before, .nav-secondary:after, .site-container:before, .site-container:after, .site-footer:before, .site-footer:after, .site-header:before, .site-header:after, .site-inner:before, .site-inner:after, .wrap:before, .wrap:after { content: ""; display: table; }
.archive-pagination:after, .clearfix:after, .entry-pagination:after, .footer-widgets:after, .nav-primary:after, .nav-secondary:after, .site-container:after, .site-footer:after, .site-header:after, .site-inner:after, .wrap:after { clear: both; }

/** Box Sizing
----------------------------------------------------------------------------- */
*, *:before, *:after, input[type="search"] { box-sizing: border-box; }

/* html {
	@include box-sizing(border-box);
} */
/** Base Defaults
----------------------------------------------------------------------------- */
html { font-size: 62.5%; }

html, body.pushy-active { overflow-x: hidden; height: 100%; }

::-moz-selection { background: #00796B; color: #FFFFFF; text-shadow: none; }

::selection { background: #00796B; color: #FFFFFF; text-shadow: none; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #CCD1D9; margin: 1em 0; padding: 0; }

audio, canvas, iframe, img, svg, video { vertical-align: middle; }

fieldset { border: 0; margin: 0; padding: 0; }

textarea { resize: vertical; }

/** Typography
----------------------------------------------------------------------------- */
body { background-color: #FFFFFF; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; color: #212121; font-family: "Istok Web", sans-serif; font-weight: normal; font-size: 16px; font-size: 1.6rem; line-height: 1.625; overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 { color: #212121; font-family: "Montserrat", sans-serif; font-weight: normal; line-height: 1.2; margin-top: 0; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-family: inherit; }

h1 { font-size: 36px; font-size: 3.6rem; }

h2 { font-size: 30px; font-size: 3rem; }

h3 { font-size: 24px; font-size: 2.4rem; }

h4 { font-size: 20px; font-size: 2rem; }

h5, h6 { font-size: 18px; font-size: 1.8rem; }

p { margin-top: 0; margin-bottom: 30px; }
p a { font-family: inherit; }
p img { margin: 0; }
p.empty { line-height: 0; margin: 0; padding: 0; }

blockquote, cite, em, i { font-style: italic; }

b, strong { font-weight: 700; color: #212121; }

small { font-size: 12px; font-size: 1.2rem; line-height: 1.2; }

/*  Blockquotes
----------------------------------------------------------------------------- */
blockquote { *zoom: 1; background: #F5F7FA; font-style: normal; border-left: 5px solid #CCD1D9; margin: 0; margin-bottom: 30px; overflow: hidden; padding: 30px 30px 30px 60px; }
blockquote:before, blockquote:after { content: ""; display: table; }
blockquote:after { clear: both; }
blockquote p { margin-bottom: 0; position: relative; }
blockquote p:first-of-type:before { position: absolute; left: -30px; top: 0; }
blockquote cite { display: block; font-size: 12px; font-size: 1.2rem; }
blockquote cite:before { content: "\2014 \0020"; }

/** Links
----------------------------------------------------------------------------- */
a { -webkit-transition: all 200ms linear; transition: all 200ms linear; color: #009688; text-decoration: none; outline: none; }
a:hover, a:focus { color: #212121; }

/* Lists
----------------------------------------------------------------------------- */
ul { list-style: disc; }

ol { list-style: decimal; }

ol, ul { padding-left: 0; margin-top: 0; margin-left: 30px; margin-bottom: 30px; }
ol li, ul li { margin-bottom: 0; }

ul ul, ul ol, ol ol, ol ul { margin-top: 15px; margin-right: 0; margin-bottom: 15px; margin-left: 30px; }

/* Tables
----------------------------------------------------------------------------- */
table { width: 100%; border: none; margin-bottom: 30px; }

thead tr { background: #212121; color: #FFFFFF; }
thead tr td { padding: 5px; text-align: left; }
thead tr th { padding: 5px; }

tbody tr th { padding: 5px; }
tbody tr th, tbody tr td { padding: 5px; text-align: left; }
tbody tr:nth-child(odd) { background: #FFFFFF; }
tbody tr:nth-child(even) { background: #F5F7FA; }

tfoot tr { background: #212121; color: #FFFFFF; }
tfoot tr td { padding: 5px; text-align: left; }

/** Definition Lists
----------------------------------------------------------------------------- */
dl dt { font-family: "Montserrat", sans-serif; font-weight: bold; text-decoration: underline; }
dl dd { margin: 0; padding: 0 0 30px 0; }

/** Preformatted Tags
----------------------------------------------------------------------------- */
code, samp, kbd, pre, tt { color: #212121; font-family: "Courier New", Courier, monospace, sans-serif; text-align: left; }

pre { border-left: 15px solid #CCD1D9; font-size: 12px; font-size: 1.2rem; margin: 15px 0 15px 30px; overflow: auto; padding: 15px; }
pre code { font-size: 12px; font-size: 1.2rem; line-height: 1; }

/* target IE7 and IE6 */
*:first-child + html pre { overflow-y: hidden; overflow: visible; overflow-x: auto; padding-bottom: 24px; }
* html pre { padding-bottom: 30px; overflow: visible; overflow-x: auto; }

/** Other Tags
----------------------------------------------------------------------------- */
cite:before { content: '\2014'; margin-right: 5px; }

sup { font-size: xx-small; vertical-align: top; }

sub { font-size: xx-small; vertical-align: bottom; }

/** Images, Objects
----------------------------------------------------------------------------- */
embed, iframe, img, object, video, .wp-caption { max-width: 100%; }

img { display: block; height: auto; max-width: 100%; }
.featured-content img, .gallery img { width: auto; }

a.imgwrap { border: none; background: none; }
a.imgwrap:hover { border: none; background: none; }

/** Buttons
----------------------------------------------------------------------------- */
.button, button, input[type="submit"], input[type="reset"], input[type="button"] { -webkit-transition: all 200ms linear; transition: all 200ms linear; color: #fff; display: inline-block; line-height: 1; padding: 15px 20px; background: #212121; border: 0; color: #FFFFFF; font-family: "Montserrat", sans-serif; font-size: 16px; font-size: 1.6rem; }
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover { background: #3b3b3b; }
.button:active, button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active { background: #545454; }
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover { background: #009688; cursor: pointer; }
.button:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus { outline: none; }

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Forms
----------------------------------------------------------------------------- */
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select { border-radius: 0px; background-clip: padding-box; /* stops bg color from leaking outside the border: */ font-size: 14px; font-size: 1.4rem; height: 38px; padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */ background-color: #F5F7FA; border: 1px solid #CCD1D9; box-shadow: none; box-sizing: border-box; font-family: "Istok Web", sans-serif; width: 100%; }
input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus { border-color: #CCD1D9; outline: 0; }

/* Removes awkward default styles on some inputs for iOS */
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], input[type="button"], input[type="submit"], input[type="reset"], button, textarea { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; }

textarea { min-height: 100px; padding-top: 6px; padding-bottom: 6px; }

label, legend { font-family: "Montserrat", sans-serif; display: block; margin-bottom: 5px; }

fieldset { padding: 0; border-width: 0; }

input[type="checkbox"], input[type="radio"] { display: inline; }

/** WordPress Stylesheet
----------------------------------------------------------------------------- */
/** WYSIWYG Editor Styles */
.alignleft { float: left; margin: 0 30px 30px 0; }

.aligncenter { display: block; margin: 0 auto 30px auto; }

.alignright { float: right; margin: 0 0 30px 30px; }

.alignnone { float: none; display: block; margin: 0 0 30px 0; }

.size-full { width: 100%; height: auto; margin: 0 0 30px 0; }

.wp-caption { max-width: 100%; text-align: center; padding: 10px; border: 1px solid #CCD1D9; background: #F5F7FA; }
.wp-caption img { border: 0 none; padding: 0; margin: 0; margin-bottom: 10px; }
.wp-caption .wp-caption-text { font-size: 14px; font-size: 1.4rem; margin-bottom: 0; }

.wp-smiley { margin: 0 !important; max-height: 16px; }

/** Blockquotes */
blockquote.left { margin-right: 30px; text-align: right; margin-left: 0; width: 33%; float: left; }
blockquote.right { margin-left: 30px; text-align: left; margin-right: 0; width: 33%; float: right; }

/** Gallery */
.gallery { overflow: hidden; }
.gallery img { border: none !important; }
.gallery .gallery-caption { font-size: 14px; font-size: 1.4rem; line-height: 1.2; }

/** Layout
----------------------------------------------------------------------------- */
/** Site Container */
.site-container { max-width: 100%; overflow-x: hidden; }
.boxed .site-container { max-width: 1170px; }
@media (max-width: 1139px) { .boxed .site-container { max-width: 970px; } }
@media (max-width: 969px) { .boxed .site-container { max-width: 750px; } }
@media (max-width: 749px) { .boxed .site-container { max-width: 480px; } }
@media (max-width: 479px) { .boxed .site-container { max-width: 90.625%; } }

.wrap { margin-right: auto; margin-left: auto; max-width: 1140px; }
@media (max-width: 1139px) { .wrap { max-width: 940px; } }
@media (max-width: 969px) { .wrap { max-width: 720px; } }
@media (max-width: 749px) { .wrap { max-width: 450px; } }
@media (max-width: 479px) { .wrap { max-width: 90.625%; } }
.boxed .wrap { max-width: 100%; padding: 0 15px; }

/** Site Header */
.site-header .title-area { width: 31.57895%; margin-left: 2.63158%; box-sizing: border-box; float: left; clear: left; margin-left: 0; }
.site-header .title-area.full-width-title { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; }
@media (max-width: 749px) { .site-header .title-area { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; } }
.site-header .widget-area { width: 65.78947%; margin-left: 2.63158%; box-sizing: border-box; float: left; }
@media (max-width: 749px) { .site-header .widget-area { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; } }

/** Site Navigation */
/** Site Inner */
.site-inner .content-sidebar-wrap { *zoom: 1; }
.site-inner .content-sidebar-wrap:before, .site-inner .content-sidebar-wrap:after { content: ""; display: table; }
.site-inner .content-sidebar-wrap:after { clear: both; }
.content-sidebar-sidebar .site-inner .content-sidebar-wrap { width: 82.89474%; margin-left: 2.63158%; box-sizing: border-box; float: left; clear: left; margin-left: 0; }
@media (max-width: 749px) { .content-sidebar-sidebar .site-inner .content-sidebar-wrap { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; } }
.sidebar-content-sidebar .site-inner .content-sidebar-wrap, .sidebar-sidebar-content .site-inner .content-sidebar-wrap { width: 82.89474%; margin-left: 2.63158%; box-sizing: border-box; float: left; float: right; }
@media (max-width: 749px) { .sidebar-content-sidebar .site-inner .content-sidebar-wrap, .sidebar-sidebar-content .site-inner .content-sidebar-wrap { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; } }
.site-inner .content-sidebar-wrap .content { width: 65.78947%; margin-left: 2.63158%; box-sizing: border-box; float: left; clear: left; margin-left: 0; }
@media (max-width: 749px) { .site-inner .content-sidebar-wrap .content { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; } }
.sidebar-content-sidebar .site-inner .content-sidebar-wrap .content, .content-sidebar-sidebar .site-inner .content-sidebar-wrap .content, .sidebar-sidebar-content .site-inner .content-sidebar-wrap .content { width: 65.78947%; margin-left: 2.63158%; box-sizing: border-box; float: left; }
@media (max-width: 749px) { .sidebar-content-sidebar .site-inner .content-sidebar-wrap .content, .content-sidebar-sidebar .site-inner .content-sidebar-wrap .content, .sidebar-sidebar-content .site-inner .content-sidebar-wrap .content { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; } }
.sidebar-content-sidebar .site-inner .content-sidebar-wrap .content, .content-sidebar-sidebar .site-inner .content-sidebar-wrap .content { clear: left; margin-left: 0; }
.sidebar-content .site-inner .content-sidebar-wrap .content, .sidebar-sidebar-content .site-inner .content-sidebar-wrap .content { width: 65.78947%; margin-left: 2.63158%; box-sizing: border-box; float: left; float: right; }
@media (max-width: 749px) { .sidebar-content .site-inner .content-sidebar-wrap .content, .sidebar-sidebar-content .site-inner .content-sidebar-wrap .content { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; } }
.full-width-content .site-inner .content-sidebar-wrap .content { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; }
@media (max-width: 749px) { .full-width-content .site-inner .content-sidebar-wrap .content { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; } }
.site-inner .content-sidebar-wrap .sidebar-primary { width: 31.57895%; margin-left: 2.63158%; box-sizing: border-box; float: left; float: right; }
@media (max-width: 749px) { .site-inner .content-sidebar-wrap .sidebar-primary { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; } }
.sidebar-content .site-inner .content-sidebar-wrap .sidebar-primary, .sidebar-sidebar-content .site-inner .content-sidebar-wrap .sidebar-primary { width: 31.57895%; margin-left: 2.63158%; box-sizing: border-box; float: left; clear: left; margin-left: 0; }
@media (max-width: 749px) { .sidebar-content .site-inner .content-sidebar-wrap .sidebar-primary, .sidebar-sidebar-content .site-inner .content-sidebar-wrap .sidebar-primary { width: 100%; margin-left: 0; box-sizing: border-box; float: left; } }
.site-inner .sidebar-secondary { width: 14.47368%; margin-left: 2.63158%; box-sizing: border-box; float: left; float: right; }
@media (max-width: 749px) { .site-inner .sidebar-secondary { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; } }
.sidebar-sidebar-content .site-inner .sidebar-secondary, .sidebar-content-sidebar .site-inner .sidebar-secondary { width: 14.47368%; margin-left: 2.63158%; box-sizing: border-box; float: left; clear: left; margin-left: 0; }
@media (max-width: 749px) { .sidebar-sidebar-content .site-inner .sidebar-secondary, .sidebar-content-sidebar .site-inner .sidebar-secondary { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; } }

/** Footer Widgets */
.footer-widgets .widget-area { width: 31.57895%; margin-left: 2.63158%; box-sizing: border-box; float: left; }
@media (max-width: 749px) { .footer-widgets .widget-area { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; } }
.footer-widgets .widget-area.footer-widgets-1 { clear: left; margin-left: 0; }

/** Site Footer */
.site-footer .copyright, .site-footer .widget-area { width: 48.68421%; margin-left: 2.63158%; box-sizing: border-box; float: left; }
@media (max-width: 749px) { .site-footer .copyright, .site-footer .widget-area { width: 100%; margin-left: 0; box-sizing: border-box; float: left; clear: left; margin-left: 0; } }
.site-footer .copyright { clear: left; margin-left: 0; }
.site-footer.full-width .copyright { width: 100%; margin-left: 0; box-sizing: border-box; float: left; }

/** Mobile Header */
.mobile-header .mobile-title-area { width: 65.78947%; margin-left: 2.63158%; box-sizing: border-box; float: left; clear: left; margin-left: 0; }
.mobile-header .widget-area { width: 31.57895%; margin-left: 2.63158%; box-sizing: border-box; float: left; }

/** Column Classes
----------------------------------------------------------------------------- */
.one-half, .three-sixths, .two-fourths { width: 48.68421%; margin-left: 2.63158%; box-sizing: border-box; float: left; }

.one-third, .two-sixths { width: 31.57895%; margin-left: 2.63158%; box-sizing: border-box; float: left; }

.four-sixths, .two-thirds { width: 65.78947%; margin-left: 2.63158%; box-sizing: border-box; float: left; }

.one-fourth { width: 23.02632%; margin-left: 2.63158%; box-sizing: border-box; float: left; }

.three-fourths { width: 74.34211%; margin-left: 2.63158%; box-sizing: border-box; float: left; }

.one-sixth { width: 14.47368%; margin-left: 2.63158%; box-sizing: border-box; float: left; }

.five-sixths { width: 82.89474%; margin-left: 2.63158%; box-sizing: border-box; float: left; }

.first { clear: left; margin-left: 0; }

@media (max-width: 749px) { .one-half, .three-sixths, .two-fourths, .one-third, .two-sixths, .four-sixths, .two-thirds, .one-fourth, .three-fourths, .one-sixth, .five-sixths { width: 100%; margin-left: 0; box-sizing: border-box; float: left; margin-bottom: 30px; } }
/** Posts
----------------------------------------------------------------------------- */
.entry { *zoom: 1; margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px solid #CCD1D9; }
.entry:before, .entry:after { content: ""; display: table; }
.entry:after { clear: both; }
.single .entry, .page .entry { margin-bottom: 30px; padding-bottom: 0; border-bottom: 0; }
.archive .entry, .search .entry, .blog .entry, .home .entry { margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px solid #CCD1D9; }
.entry .imgwrap { display: block; margin-bottom: 30px; overflow: hidden; }
.entry .entry-header { margin-bottom: 30px; }
.entry .entry-header .entry-title { margin-bottom: 0; }
.entry .entry-header .entry-title a { color: #212121; }
.entry .entry-header .entry-title a:hover { color: #009688; }
.entry .entry-header .entry-meta { color: #727272; margin-bottom: 0; font-size: 14px; font-size: 1.4rem; }
.entry .entry-header .entry-meta > * { margin-right: 10px; }
.entry .entry-header .entry-meta > *:last-child { margin-right: 0; }
.entry .entry-header .entry-meta .entry-time { margin-left: 0; }
.entry .entry-header .entry-meta a { color: #727272; }
.entry .entry-header .entry-meta a:hover { color: #009688; }
.entry .entry-content { *zoom: 1; }
.entry .entry-content:before, .entry .entry-content:after { content: ""; display: table; }
.entry .entry-content:after { clear: both; }
.entry .entry-content .more-link { display: inline-block; }
.entry .entry-footer { color: #727272; font-size: 14px; font-size: 1.4rem; }
.entry .entry-footer .entry-meta { margin-bottom: 0; }
.entry .entry-footer .entry-meta span { display: block; }
.entry .entry-footer .entry-meta a { color: #009688; }
.entry .entry-footer .entry-meta a:hover { color: #212121; }

/** Comments **/
.entry-comments { margin-bottom: 30px; }
.entry-comments h3 { margin-bottom: 30px; }
.entry-comments .comment-list { list-style: none; margin: 0; padding: 0; }
.entry-comments .comment-list article { margin-bottom: 30px; }
.entry-comments .comment-list .comment-header { margin-bottom: 30px; }
.entry-comments .comment-list .comment-header p { margin-bottom: 0; }
.entry-comments .comment-list .comment-header p.comment-author { font-family: "Montserrat", sans-serif; }
.entry-comments .comment-list .comment-header p.comment-author img { border-radius: 50%; float: left; margin-right: 30px; }
.entry-comments .comment-list .comment-header p.comment-author span { text-transform: uppercase; }
.entry-comments .comment-list .comment-header p.comment-author span.says { font-family: "Istok Web", sans-serif; text-transform: none; }
.entry-comments .comment-list .comment-header p.comment-author a { color: #009688; }
.entry-comments .comment-list .comment-header p.comment-author a:hover { color: #212121; }
.entry-comments .comment-list .comment-header p.comment-meta { font-size: 14px; font-size: 1.4rem; }
.entry-comments .comment-list .comment-header p.comment-meta a { color: #009688; }
.entry-comments .comment-list .comment-header p.comment-meta a:hover { color: #212121; }
.entry-comments .comment-list .children { list-style: none; margin-left: 30px; }

/** Comment Forms **/
.comment-respond form p { margin-bottom: 15px; }
.comment-respond form input[type="text"], .comment-respond form input[type="email"], .comment-respond form input[type="url"], .comment-respond form textarea { border-color: #d3dce9; }
.comment-respond form input[type="text"]:not(textarea), .comment-respond form input[type="email"]:not(textarea), .comment-respond form input[type="url"]:not(textarea), .comment-respond form textarea:not(textarea) { width: 50%; }
@media (max-width: 749px) { .comment-respond form input[type="text"]:not(textarea), .comment-respond form input[type="email"]:not(textarea), .comment-respond form input[type="url"]:not(textarea), .comment-respond form textarea:not(textarea) { width: 100%; } }

/** Pingbacks **/
.entry-pings .ping-list { list-style: none; margin: 0; padding: 0; }
.entry-pings .ping-list .pingback { margin-bottom: 30px; }
.entry-pings .ping-list .pingback .comment-meta { margin-bottom: 30px; }
.entry-pings .ping-list .pingback .reply .comment-reply-link:before { padding-right: 15px; }
.entry-pings .ping-list .children { list-style: none; margin-left: 30px; }
.entry-pings .comment-metadata { font-size: 14px; font-size: 1.4rem; }
.entry-pings .comment-metadata a { color: #727272; }
.entry-pings .comment-metadata a:hover { color: #009688; }

/** Search Form
----------------------------------------------------------------------------- */
.search-form { margin-bottom: 0; }

/** Widgets
----------------------------------------------------------------------------- */
/** Recent Posts  */
.widget_recent_entries li { margin-bottom: 12px; }
.widget_recent_entries li a { color: #212121; font-family: "Montserrat", sans-serif; }
.widget_recent_entries li a:hover { color: #009688; }
.widget_recent_entries li span { color: #727272; display: block; font-family: "Istok Web", sans-serif; font-size: 14px; font-size: 1.4rem; }

/** Recent Comments **/
.widget_recent_comments ul li a { color: #212121; }
.widget_recent_comments ul li a:hover { color: #009688; }

/** Category Widget **/
.widget_categories ul, .widget_categories ol, .widget_archive ul, .widget_archive ol { list-style: none; margin: 0; padding: 0; }
.widget_categories ul li a, .widget_categories ol li a, .widget_archive ul li a, .widget_archive ol li a { color: #212121; }
.widget_categories ul li a:hover, .widget_categories ol li a:hover, .widget_archive ul li a:hover, .widget_archive ol li a:hover { color: #009688; }

/** Calendar Widget */
.widget_calendar #wp-calendar caption { background: #212121; color: #FFFFFF; font-family: "Montserrat", sans-serif; padding: 15px; }
.widget_calendar #wp-calendar thead tr { background: #F5F7FA; }
.widget_calendar #wp-calendar thead tr th { color: #212121; border: 1px solid #F5F7FA; }
.widget_calendar #wp-calendar tbody { text-align: center; }
.widget_calendar #wp-calendar tbody tr:nth-child(odd) { background: #FFFFFF; }
.widget_calendar #wp-calendar tbody tr:nth-child(even) { background: #F5F7FA; }
.widget_calendar #wp-calendar tbody tr td { text-align: center; border: 1px solid #F5F7FA; }
.widget_calendar #wp-calendar tfoot tr { background: transparent; }
.widget_calendar #wp-calendar tfoot tr a { color: #212121; }

/** Tag Cloud Widget */
.widget_tag_cloud .tagcloud { font-size: 0; }
.widget_tag_cloud .tagcloud a { background: #F5F7FA; color: #212121; display: inline-block; font-size: 14px !important; line-height: 1; margin-right: 5px; margin-bottom: 5px; padding: 5px 10px; }
.footer-widgets .widget_tag_cloud .tagcloud a { background: #727272; }
.widget_tag_cloud .tagcloud a:hover { background: #009688; color: #FFFFFF; }

/** Genesis User Profile Widget */
/** Genesis Featured Post **/
.featuredpost .entry { padding: 0; margin: 0; border-bottom: 0; }
.featuredpost .entry .entry-header { margin-bottom: 5px; }
.featuredpost .entry .entry-header .entry-title { font-size: 16px; font-size: 1.6rem; }

/** Developer Bundle Widgets */
.widget_mb_tabbed ul.etabs { list-style: none; margin: 0; padding: 0; width: 100%; border-bottom: 1px solid #212121; font-size: 0; margin-bottom: 30px; }
.widget_mb_tabbed ul.etabs li { display: inline-block; }
.widget_mb_tabbed ul.etabs li a { font-size: 18px; font-size: 1.8rem; margin-left: 15px; display: block; padding: 15px; line-height: 1; text-transform: uppercase; background: #212121; color: #FFFFFF; border: 1px solid #212121; border-bottom: none; margin-bottom: -1px; }
.widget_mb_tabbed ul.etabs li.active a { background: #FFFFFF; color: #212121; }
.widget_mb_tabbed ul.etabs li:first-child a { margin-left: 0; }
.widget_mb_tabbed .tabs ul { margin: 0; padding: 0; list-style: none; }

.widget_mb_masonry .masonry-widget { margin: 0 -15px; }
.widget_mb_masonry .item { box-sizing: border-box; width: 25%; margin: 0; }
@media (max-width: 969px) { .widget_mb_masonry .item { width: 50%; } }
@media (max-width: 749px) { .widget_mb_masonry .item { width: 100%; } }
.widget_mb_masonry .item.size22, .widget_mb_masonry .item.size21 { width: 50%; }
@media (max-width: 749px) { .widget_mb_masonry .item.size22, .widget_mb_masonry .item.size21 { width: 100%; } }
.widget_mb_masonry .item .post-content { margin: 15px; position: relative; text-align: left; }
.widget_mb_masonry .item .post-content img { width: 100%; }
.widget_mb_masonry .item .post-content .post-details { background: rgba(33, 33, 33, 0.5); padding: 20px; position: absolute; left: 0; bottom: 0; width: 100%; }
.widget_mb_masonry .item .post-content .post-details .byline { margin-bottom: 0; }
.widget_mb_masonry .item .post-content .post-details .byline a { color: #FFFFFF; }
.widget_mb_masonry .item .post-content .post-details h2 { font-size: 18px; font-size: 1.8rem; text-transform: uppercase; margin-bottom: 0; }
.widget_mb_masonry .item .post-content .post-details h2 a { color: #FFFFFF; }
.widget_mb_masonry .item .post-content .post-details h2 a:hover { color: #009688; }

.widget_mb_testimonial { /* clearfix */ /* display none until init */ /* mouse grab icon */ /* fix */ }
.widget_mb_testimonial .owl-carousel .owl-wrapper:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.widget_mb_testimonial .owl-carousel { display: none; position: relative; width: 100%; -ms-touch-action: pan-y; }
.widget_mb_testimonial .owl-carousel .owl-wrapper { display: none; position: relative; -webkit-transform: translate3d(0px, 0px, 0px); }
.widget_mb_testimonial .owl-carousel .owl-wrapper-outer { overflow: hidden; position: relative; width: 100%; }
.widget_mb_testimonial .owl-carousel .owl-wrapper-outer.autoHeight { -webkit-transition: height 500ms ease-in-out; transition: height 500ms ease-in-out; }
.widget_mb_testimonial .owl-carousel .owl-item { float: left; }
.widget_mb_testimonial .owl-controls .owl-page, .widget_mb_testimonial .owl-controls .owl-buttons div { cursor: pointer; }
.widget_mb_testimonial .owl-controls { -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: transparent; }
.widget_mb_testimonial .owl-carousel .owl-wrapper, .widget_mb_testimonial .owl-carousel .owl-item { -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); }
.widget_mb_testimonial .owl-buttons { font-size: 36px; font-size: 3.6rem; line-height: 1; }
.widget_mb_testimonial .owl-buttons div { width: 36px; height: 36px; position: absolute; left: auto; top: 50%; margin-top: -18px; text-align: center; }
.widget_mb_testimonial .owl-buttons div.owl-prev { left: 0px; }
.widget_mb_testimonial .owl-buttons div.owl-next { right: 0px; }
.widget_mb_testimonial .owl-pagination { width: 100%; text-align: center; }
.widget_mb_testimonial .owl-pagination .owl-page { display: inline-block; }
.widget_mb_testimonial .owl-pagination .owl-page > span { display: block; width: 10px; height: 10px; border-radius: 50%; margin-right: 10px; background: #212121; }
.widget_mb_testimonial .owl-pagination .owl-page.active > span { background: #CCD1D9; }
.widget_mb_testimonial .testimonial-container { text-align: center; }
.widget_mb_testimonial .testimonial-container .testimonial-details img { margin: 0 auto 15px; border-radius: 50%; }

.widget_mb_button .btn { text-align: center; }

/** Fancy Box */
.fancybox-wrap { color: #212121; }
.fancybox-wrap .fancybox-skin { border-radius: 0; }
.fancybox-wrap.fancybox-opened .fancybox-skin { box-shadow: none; }

.fancybox-overlay { background: rgba(0, 0, 0, 0.6); }

/** Accordion Widget */
.widget_mb-accordion-widget .accordion .item .heading { position: relative; }
.widget_mb-accordion-widget .accordion .item .faq-content { -webkit-transition: display 300ms linear; transition: display 300ms linear; display: none; }
.widget_mb-accordion-widget .accordion .item.open .faq-content { display: block; }

/** Plugins
----------------------------------------------------------------------------- */
/** Facebook Like Box */
#fb-root { display: none; }

.fb_iframe_widget { width: 100% !important; }
.fb_iframe_widget span { width: 100% !important; }
.fb_iframe_widget span iframe[style] { width: 100% !important; }

/** Gravity Forms **/
.gform_wrapper { max-width: 100% !important; }
.gform_wrapper .top_label input.medium { padding: 6px 10px !important; }
@media (max-width: 749px) { .gform_wrapper .top_label input.medium { width: 100% !important; } }
.gform_wrapper li { margin-bottom: 15px; }
form .gform_wrapper li { margin-bottom: 15px; }
.gform_wrapper textarea { max-width: 100%; padding: 6px 10px !important; }

/** Ninja Forms **/
.ninja-forms-form-wrap .ninja-forms-req-symbol { color: #DA4453 !important; }
.ninja-forms-form-wrap label { font-weight: inherit; }
.ninja-forms-form-wrap label .ninja-forms-req-symbol strong { color: #DA4453 !important; }
.ninja-forms-form-wrap input { height: 38px !important; }
.ninja-forms-form-wrap input[type="submit"] { height: auto !important; }

/** Content Boxes
----------------------------------------------------------------------------- */
.content-box-blue { background: #5D9CEC; border: 1px solid #4A89DC; margin-bottom: 30px; padding: 30px; }

.content-box-gray { background: #CCD1D9; border: 1px solid #AAB2BD; margin-bottom: 30px; padding: 30px; }

.content-box-green { background: #A0D468; border: 1px solid #8CC152; margin-bottom: 30px; padding: 30px; }

.content-box-purple { background: #EC87C0; border: 1px solid #D770AD; margin-bottom: 30px; padding: 30px; }

.content-box-red { background: #ED5565; border: 1px solid #DA4453; margin-bottom: 30px; padding: 30px; }

.content-box-yellow { background: #FFCE54; border: 1px solid #F6BB42; margin-bottom: 30px; padding: 30px; }

/** Button Shortcode
----------------------------------------------------------------------------- */
.btn { text-align: center; }
.btn.flat { color: #fff; display: inline-block; line-height: 1; padding: 15px 30px; background: #212121; }
.btn.flat:hover { background: #3b3b3b; }
.btn.flat:active { background: #545454; }
.btn.rounded { color: #fff; display: inline-block; line-height: 1; padding: 15px 30px; background: #212121; }
.btn.rounded:hover { background: #3b3b3b; }
.btn.rounded:active { background: #545454; }
.btn.border { color: #fff; display: inline-block; line-height: 1; padding: 15px 30px; background: transparent; border: 1px solid #212121; color: #212121; }
.btn.border:hover { background: #212121; color: #FFFFFF; }
.btn.border:active { background: #3b3b3b; }
.btn.pressed { color: #fff; display: inline-block; line-height: 1; padding: 15px 30px; }

/** Phone Shortcode
----------------------------------------------------------------------------- */
.phone:before { padding-right: 10px; }

/** Buttons
----------------------------------------------------------------------------- */
.btn { font-family: "Montserrat", sans-serif; text-transform: uppercase; }
.btn.fullwidth { width: 100%; }
.btn.flat { color: #fff; display: inline-block; line-height: 1; padding: 15px 20px; background: #009688; }
.btn.flat:hover { background: #00c9b6; }
.btn.flat:active { background: #00fce4; }
.btn.rounded { color: #fff; display: inline-block; line-height: 1; padding: 15px 20px; background: #009688; border-radius: 5px; }
.btn.rounded:hover { background: #00c9b6; }
.btn.rounded:active { background: #00fce4; }
.btn.border { color: #fff; display: inline-block; line-height: 1; padding: 15px 20px; background: transparent; border: 1px solid #009688; color: #009688; }
.btn.border:hover { background: #009688; color: #FFFFFF; }
.btn.border:active { background: #00c9b6; }
.btn.border:hover { color: #FFFFFF; }
.btn.small { padding: 15px 20px; }
.btn.medium { padding: 20px 25px; }
.btn.large { padding: 25px 30px; }
.btn.x-large { padding: 30px 35px; }
.btn.blue-jeans { background: #4A89DC; }
.btn.blue-jeans:hover { background: #75a5e4; }
.btn.blue-jeans.border { background: transparent; border-color: #4A89DC; color: #4A89DC; }
.btn.blue-jeans.border:hover { background: #4A89DC; color: #FFFFFF; }
.btn.aqua { background: #3BAFDA; }
.btn.aqua:hover { background: #66c1e2; }
.btn.aqua.border { background: transparent; border-color: #3BAFDA; color: #3BAFDA; }
.btn.aqua.border:hover { background: #3BAFDA; color: #FFFFFF; }
.btn.mint { background: #37BC9B; }
.btn.mint:hover { background: #58ceb1; }
.btn.mint.border { background: transparent; border-color: #37BC9B; color: #37BC9B; }
.btn.mint.border:hover { background: #37BC9B; color: #FFFFFF; }
.btn.grass { background: #8CC152; }
.btn.grass:hover { background: #a5ce78; }
.btn.grass.border { background: transparent; border-color: #8CC152; color: #8CC152; }
.btn.grass.border:hover { background: #8CC152; color: #FFFFFF; }
.btn.sunflower { background: #F6BB42; }
.btn.sunflower:hover { background: #f8cd73; }
.btn.sunflower.border { background: transparent; border-color: #F6BB42; color: #F6BB42; }
.btn.sunflower.border:hover { background: #F6BB42; color: #FFFFFF; }
.btn.bittersweet { background: #E9573F; }
.btn.bittersweet:hover { background: #ee7f6d; }
.btn.bittersweet.border { background: transparent; border-color: #E9573F; color: #E9573F; }
.btn.bittersweet.border:hover { background: #E9573F; color: #FFFFFF; }
.btn.grapefruit { background: #DA4453; }
.btn.grapefruit:hover { background: #e26f7a; }
.btn.grapefruit.border { background: transparent; border-color: #DA4453; color: #DA4453; }
.btn.grapefruit.border:hover { background: #DA4453; color: #FFFFFF; }
.btn.lavender { background: #967ADC; }
.btn.lavender:hover { background: #b6a2e7; }
.btn.lavender.border { background: transparent; border-color: #967ADC; color: #967ADC; }
.btn.lavender.border:hover { background: #967ADC; color: #FFFFFF; }
.btn.pink-rose { background: #D770AD; }
.btn.pink-rose:hover { background: #e298c4; }
.btn.pink-rose.border { background: transparent; border-color: #D770AD; color: #967ADC; }
.btn.pink-rose.border:hover { background: #D770AD; color: #FFFFFF; }
.btn.light-gray { background: #E6E9ED; }
.btn.light-gray:hover { background: white; }
.btn.light-gray.border { background: transparent; border-color: #E6E9ED; color: #E6E9ED; }
.btn.light-gray.border:hover { background: #E6E9ED; color: #FFFFFF; }
.btn.medium-gray { background: #AAB2BD; }
.btn.medium-gray:hover { background: #c7ccd3; }
.btn.medium-gray.border { background: transparent; border-color: #AAB2BD; color: #AAB2BD; }
.btn.medium-gray.border:hover { background: #AAB2BD; color: #FFFFFF; }
.btn.dark-gray { background: #434A54; }
.btn.dark-gray:hover { background: #5a6370; }
.btn.dark-gray.border { background: transparent; border-color: #434A54; color: #434A54; }
.btn.dark-gray.border:hover { background: #434A54; color: #FFFFFF; }

/** Navigation Menu
----------------------------------------------------------------------------- */
.genesis-nav-menu { font-size: 0; margin: 0; padding: 0; width: 100%; text-align: left; }
.nav-header .genesis-nav-menu { text-align: right; }
.genesis-nav-menu .menu-item { display: inline-block; font-size: 16px; font-size: 1.6rem; margin: 0; padding: 0; }
.genesis-nav-menu .menu-item:hover { position: relative; }
.genesis-nav-menu .menu-item:hover > .sub-menu { left: auto; opacity: 1; }
.genesis-nav-menu .menu-item:hover > .sub-menu .sub-menu { left: auto; }
.genesis-nav-menu .menu-item.right { float: right; }
.genesis-nav-menu .menu-item a { color: #FFFFFF; display: block; padding: 15px 20px; position: relative; }
.nav-header .genesis-nav-menu .menu-item a { color: #212121; text-align: left; }
.genesis-nav-menu .menu-item a:hover { background: #009688; color: #FFFFFF; }
.genesis-nav-menu .menu-item.current-menu-item a, .genesis-nav-menu .menu-item.current_page_item a, .genesis-nav-menu .menu-item.current-item-has-children a { background: #009688; color: #FFFFFF; }
.genesis-nav-menu .menu-item .sub-menu { -webkit-transition: opacity 300ms ease-in-out; transition: opacity 300ms ease-in-out; background: #212121; margin: 0; opacity: 0; padding: 0; position: absolute; left: -9999px; width: 200px; z-index: 99; /* &::before {
	content: "";
	width: 0;
	height: 0;
	left: 50%;
	margin-left: -5px;
	top: -5px;
	position: absolute;
	border: {
		style: solid;
		width: 0 5px 5px 5px;
		color: transparent transparent $heading_color transparent;
	}
	z-index: 1000;
} */ }
.genesis-nav-menu .menu-item .sub-menu a { background: #212121; color: #FFFFFF; position: relative; width: 200px; }
.genesis-nav-menu .menu-item .sub-menu a:hover { background: #009688; }
.genesis-nav-menu .menu-item .sub-menu > .current_page_item > a, .genesis-nav-menu .menu-item .sub-menu > .current-menu-item > a, .genesis-nav-menu .menu-item .sub-menu .menu-item-has-children:hover > a { background: #009688; }
.genesis-nav-menu .menu-item .sub-menu .sub-menu { margin: -56px 0 0 199px; /* &::before {
	content: "";
	width: 0;
	height: 0;
	border: {
		style: solid;
		width: 5px 5px 5px 0;
		color: transparent $heading_color transparent transparent;
	}
	position: absolute;
	left: 5px;
	top: 50%;
	margin-top: -5px;
} */ }
.genesis-nav-menu > .menu-item-has-children:hover, .genesis-nav-menu > .menu-item-has-children:hover > a { background: #009688; color: #FFFFFF; }
.site-header .genesis-nav-menu { float: right; text-align: right; width: 100%; }

/** Footer Navigation **/
.site-footer .widget-area .widget_nav_menu ul { list-style: none; margin: 0; padding: 0; text-align: right; width: 100%; }
@media (max-width: 749px) { .site-footer .widget-area .widget_nav_menu ul { text-align: center; } }
.site-footer .widget-area .widget_nav_menu ul li { display: inline-block; margin: 0; padding: 0; }
.site-footer .widget-area .widget_nav_menu ul li a { color: inherit; display: block; padding-left: 12px; }
.site-footer .widget-area .widget_nav_menu ul li a:hover { color: #009688; }
.site-footer .widget-area .widget_nav_menu ul li:first-child a { padding-left: 0; }

/** Mobile Navigation Menu **/
button.menu-toggle, button.sub-menu-toggle { background-color: transparent; color: #F5F7FA; display: none; font-size: 20px; font-size: 2rem; font-weight: 700; margin: 0 auto; overflow: hidden; padding: 10px 15px; text-align: center; visibility: visible; }
button.menu-toggle { padding-top: 20px; padding-bottom: 20px; }
@media (max-width: 479px) { button.menu-toggle { padding-top: 15px; padding-bottom: 15px; } }
button.sub-menu-toggle { padding: 10px 16px; position: absolute; right: 0; top: 0; }
button.menu-toggle { color: #F5F7FA; }

@media (min-width: 750px) { .genesis-nav-menu { display: block !important; } }
@media (max-width: 749px) { .genesis-nav-menu { display: none; /* position: absolute;
right: 0;
top: 60px;
width: 250px; */ }
  button.menu-toggle, button.sub-menu-toggle { display: block; visibility: visible; }
  .genesis-nav-menu ul { margin-left: 0; }
  .genesis-nav-menu ul ul { margin-left: 0; }
  .genesis-nav-menu .menu-item { display: block; margin-left: 0; position: relative; text-align: left; }
  .genesis-nav-menu .menu-item:hover { position: relative; }
  .genesis-nav-menu .menu-item > .menu-item-has-children:hover > a:hover { border: none; }
  .genesis-nav-menu .menu-item a { padding: 10px; }
  .genesis-nav-menu .menu-item:first-child a { padding-left: 10px; }
  .genesis-nav-menu .menu-item .sub-menu { clear: both; display: none; opacity: 1; position: static; width: 100%; }
  .genesis-nav-menu .menu-item .sub-menu a { border-left: 0; position: relative; width: auto; }
  .genesis-nav-menu .menu-item .sub-menu .menu-item-has-children:hover > a:after { border: none; }
  .genesis-nav-menu .menu-item .sub-menu .sub-menu { margin: 0; } }
/** Pagination
----------------------------------------------------------------------------- */
.pagination, .navigation { *zoom: 1; text-align: center; }
.pagination:before, .pagination:after, .navigation:before, .navigation:after { content: ""; display: table; }
.pagination:after, .navigation:after { clear: both; }
.pagination ul, .navigation ul { font-size: 0; float: left; line-height: 1; margin: 0; padding: 0; }
.pagination ul li, .navigation ul li { font-size: 14px; font-size: 1.4rem; display: inline-block; margin-right: 15px; }
.pagination ul li:first-child, .navigation ul li:first-child { margin-left: 0; }
.pagination ul li a, .navigation ul li a { color: #fff; display: inline-block; line-height: 1; padding: 15px 20px; background: #212121; }
.pagination ul li a:hover, .navigation ul li a:hover { background: #3b3b3b; }
.pagination ul li a:active, .navigation ul li a:active { background: #545454; }
.pagination ul li a:hover, .pagination ul li a:active, .navigation ul li a:hover, .navigation ul li a:active { background: #009688; }
.pagination ul li.active a, .navigation ul li.active a { background: #009688; }
.pagination div.alignleft, .pagination div.alignright, .navigation div.alignleft, .navigation div.alignright { margin-bottom: 0; }
.pagination div a, .navigation div a { color: #fff; display: inline-block; line-height: 1; padding: 15px 20px; background: #212121; }
.pagination div a:hover, .navigation div a:hover { background: #3b3b3b; }
.pagination div a:active, .navigation div a:active { background: #545454; }

/** Entry Pagination */
.entry-pagination > *, .entry-pagination a { color: #fff; display: inline-block; line-height: 1; padding: 15px 20px; background: #212121; display: inline; margin-top: 0; margin-right: 15px; margin-bottom: 0; margin-left: 15px; }
.entry-pagination > *:hover, .entry-pagination a:hover { background: #3b3b3b; }
.entry-pagination > *:active, .entry-pagination a:active { background: #545454; }

/** Single Post Navigation */
.prev_next { *zoom: 1; }
.prev_next:before, .prev_next:after { content: ""; display: table; }
.prev_next:after { clear: both; }
.prev_next a { color: #fff; display: inline-block; line-height: 1; padding: 15px 20px; background: #212121; }
.prev_next a:hover { background: #3b3b3b; }
.prev_next a:active { background: #545454; }

/** Archive Pagination */
.archive-pagination div a { color: #fff; display: inline-block; line-height: 1; padding: 15px 20px; background: #212121; }
.archive-pagination div a:hover { background: #3b3b3b; }
.archive-pagination div a:active { background: #545454; }
.archive-pagination div a:hover { background-color: #009688; }

/** Go To Top
----------------------------------------------------------------------------- */
.gototop, .gotobottom { background-color: #009688; color: #FFFFFF; cursor: pointer; display: none; line-height: 1; font-size: inherit; position: fixed; padding: 10px 15px; text-align: center; vertical-align: middle; bottom: 15px; right: 15px; }
.gototop.top, .gotobottom.top { display: block; }
.gototop:hover, .gotobottom:hover { background-color: #00635a; }

.gotobottom { bottom: 15px; }

/** Site Specific Styles
----------------------------------------------------------------------------- */
/** Site Container **/
.site-container { margin: 0 auto; }
.boxed .site-container { background: #FFFFFF; margin-top: 30px; margin-bottom: 30px; }

/** Site Header **/
.site-header { padding: 30px 0; }
@media (max-width: 749px) { .site-header .title-area { margin-bottom: 30px; } }
@media (max-width: 749px) { .site-header .title-area.full-width-title { margin-bottom: 0; } }
.site-header .title-area .site-title { font-size: 36px; font-size: 3.6rem; margin-bottom: 0; }
@media (max-width: 749px) { .site-header .title-area .site-title { text-align: center; }
  .site-header .title-area .site-title a { display: block; } }
.site-header .title-area .site-description { font-size: 16px; font-size: 1.6rem; color: #212121; font-family: "Istok Web", sans-serif; font-weight: normal; line-height: 1.2; margin-bottom: 0; }
@media (max-width: 749px) { .site-header .title-area .site-description { text-align: center; } }
.site-header .widget-area .nav-header { position: relative; text-align: center; }
.site-header .widget-area .menu-toggle { color: #fff; display: inline-block; line-height: 1; padding: 15px 20px; background: #212121; display: none; }
.site-header .widget-area .menu-toggle:hover { background: #3b3b3b; }
.site-header .widget-area .menu-toggle:active { background: #545454; }
@media (max-width: 749px) { .site-header .widget-area .menu-toggle { display: block; } }

/** Navigation **/
.nav-primary { background: #212121; }

.nav-secondary { background: #212121; }

/** Site Inner **/
.site-inner { padding: 60px 0; }

/** Content **/
@media (max-width: 749px) { .content { margin-bottom: 30px; } }

/** Sidebar **/
.sidebar .widget { margin-bottom: 30px; }
.sidebar .widget .widgettitle { margin-bottom: 30px; }
.sidebar .widget ul, .sidebar .widget ol { list-style: none; margin: 0; padding: 0; }
.sidebar .widget ul ul, .sidebar .widget ul ol, .sidebar .widget ol ul, .sidebar .widget ol ol { margin-left: 15px; }

/** Footer Widgets **/
.footer-widgets { background: #212121; color: #FFFFFF; padding: 60px 0; }
.footer-widgets a:hover { color: #FFFFFF; }
@media (max-width: 749px) { .footer-widgets .widget-area { margin-bottom: 30px; } }
.footer-widgets .widget { margin-bottom: 30px; }
.footer-widgets .widget:last-child { margin-bottom: 0; }
.footer-widgets .widget .widgettitle { color: #FFFFFF; margin-bottom: 30px; }
.footer-widgets .widget:last-child { margin-bottom: 0; }
.footer-widgets .widget ul, .footer-widgets .widget ol { list-style: none; margin: 0; padding: 0; }
.footer-widgets .widget ul ul, .footer-widgets .widget ul ol, .footer-widgets .widget ol ul, .footer-widgets .widget ol ol { margin-left: 15px; }
.footer-widgets .widget ul li, .footer-widgets .widget ol li { padding: 5px 0; }
.footer-widgets .widget ul li a, .footer-widgets .widget ol li a { color: inherit; }
.footer-widgets .widget ul li a:hover, .footer-widgets .widget ol li a:hover { color: #009688; }

/** Site Footer **/
.site-footer { background: #080808; color: #FFFFFF; font-size: 14px; font-size: 1.4rem; padding: 30px 0; }
.site-footer.full-width { text-align: center; }
.site-footer p { margin-bottom: 0; }
.site-footer a { color: #009688; }
.site-footer a:hover { color: #FFFFFF; }
@media (max-width: 749px) { .site-footer { text-align: center; } }
